* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bolder;
}

h3, h4, h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 900;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Black.ttf);
}

/* NEW INDEX STYLE GALLERY SECTION */
.image-gallery1 {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 60%;
    overflow: hidden;
    z-index: -1;
    /* margin-top: 50px; */
}

.image-gallery1 .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensure images cover the entire area without distortion */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.image-gallery1 .active {
    opacity: 1;
}

.search-form-container {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 50px;
    z-index: 1;
    margin-top: 20px;
}

.tour-search-form {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 10px;
    display: inline-block;
    margin-top: 50px;
    border-radius: 8px;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.tour-search-form h2 {
    margin-bottom: 20px;
    color: blue;
}
 
.tour-inp {
    width: 45%;
    padding: 10px;
    border: 2px solid navy;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
}

.tour-btn {
    margin-top: 10px;
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.tour-btn:hover {
    background-color: #0098b3;
}
/* END */

.container {
    width: 100%;
}
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
.header {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    color: white; 
    align-items: center;
    padding: 10px;
}
.parent-header {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.cont {
    margin-left: 60px;
}
.email {
    margin-left: 60px;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 80px;
}
.facebook {
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    margin-left: 10px;
}

.header2 {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    white-space: nowrap;
    z-index: 2;
}

.allicom {
    font-size: 30px;
    font-weight: 900;
    color: blue;
    font-size: 28px;
}
.menu {
    width: 100%;
    white-space: nowrap;
}
.menu li {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    flex-wrap: wrap;
}
.menu li a {
    color: black;
}
.dreams {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
    text-align: center;
    background-color: rgba(249,252,253,0.55);
    font-size: 25px;
}
.btn {
    padding: 10px;
    background-color: blue;
    border: 1px solid transparent;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.btn2 {
    padding: 10px;
    background-color: blue;
    border: 1px solid transparent;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    width: 20%;
}
.book-head {
    margin-top: 10px;
}



.city {
    width: 40%;
    padding: 10px;
    margin-top: 10px;
}
.city2 {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
}
.arrival-city-1 {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
}
.departure-city-1 {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
}
.departure-date-1 {
    width: 30%;
    padding: 10px;
    margin-top: 10px;
}
.cit {
    width: 26.5%;
    padding: 10px;
    margin-top: 10px;
}
.tabs {
    background-color: blue;
    padding: 10px;
}

.tab1{
    color: white;
    border: 1px solid transparent;
    font-size: 16px;
    background-color: transparent;
    margin-left: 10px;
    cursor: pointer;
}
.active-tab {
    background-color: green;
    color: white;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}
.services {
    padding: 10px;
    width: 40%;
}
.parent {
    text-align: center;
    /* margin-top: 20px; */
    background-color: whitesmoke;
    padding-bottom: 50px;
}
.parent2 {
    text-align: center;
    margin-top: 20px;
  
}
.head1 {
    font-size: 28px;
}
.par-1 {
    font-size: 18px;
    margin-top: 20px;
}
.welcome {
    padding: 20px;
    padding-bottom: 40px;
}
.welcome-head {
    margin-top: 20px;
}
.container3 {
    background-color: whitesmoke;
}
.parent3 {
    display: flex;
    padding-bottom: 50px;
    text-align: center;
    padding: 20px;
    
}
.service {
    text-align: center;
}
.our-services {
    margin: 20px;
}
.img {
    border: 1px solid transparent;
    border-radius: 20px;
    
}
.btn3 {
    padding: 15px;
    background-color: blue;
    border: 1px solid transparent;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.tab-button {
    padding: 10px 20px;
    background-color: blue;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 20px;
}
.tab-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

#form-container {
    max-width: 600px;
    margin: 0 auto;
}
/* CONTACT US */
.download-parent {
    display: flex;
    margin-top: 20px;
}
.c-par {
    font-weight: 700;
    margin-top: 20px;
}
.c-par1 {
    font-weight: 400;
    margin-top: 10px;
}
.c-par1-1 {
    font-weight: 400;
    margin-top: 30px;
}
.c-head {
    margin-top: 25px;
}
.c-btn {
    width: 80%;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 20px;
    padding: 10px;
    color: white;
}
.download-img1 {
    border: 1px solid transparent;
    background-color: blue;
    color: white;
    height: 280px;
    padding: 20px;
    margin-left: 80px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    
}
.d-btn1 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.form {
    box-shadow: 1px 1px 5px #ddd;
    padding: 10px;
    margin-right: 70px;
}
.d-input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.d-input1{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
}
.input-details {
    display: flex;
    gap: 20px;
    padding: 5px;
    font-size: 16px;
    width: 150px;
    margin-top: 30px;
}
.d-par1 {
    margin-top: 30px;
    padding-right: 50px;
}
.d-head1 {
    font-size: 25px;
}
.d-btn {
    margin: auto;
    background-color: blue;
    color: white;
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid transparent;
}
.con-container {
    width: 100%;background-image: url(/img/BG.png);
}
.textarea {
    width: 70%;
    align-items: left;
    padding: 10px;
    margin-top: 20px;
}
.con-head {
    text-align: center;
    padding: 10px;
}

.footer {
    background-image: url(/img/BG.png);
}

.linksss {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.linksss a {
    color: black;
    padding-top: 20px;
}
.linksss li {
    color: black;
    padding-top: 10px;
}
.linksss2 p {
    padding-top: 10px;
}
.link-head {
    margin-top: 40px;
}
.facebook {
    margin-top: 10px;
}
.sidebar-menu {
    display: none;
}
.navbar {
    z-index: 1000;
    top: 0;
    flex-wrap: wrap;
    white-space: nowrap;
}

.nav-links {
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}
.nav-links li a {
    font-size: 12px;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger span {
    background-color: white;
    height: 20px;
    width: 25px;
    margin: 10px;
}


/* BOOK NOW */
.destination {
    padding: 10px;
    width: 40%;
}
.destination-date {
    padding: 10px;
    width: 40%;
}
.destination-city {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }


  /* SIGN UP PAGE */
  .signupParent {
    display: flex;
}

.inp {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ddd;
    width: 80%;
    margin-top: 10px;
}
.lo-box {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 40px;
    margin: 10px;
}
.flex-end1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.lo-box1 {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 40px;
    background-color: white;
    margin: 10px;
    margin-left: 50px;
}
.fp {
    padding-top: 10px;
}
.btn-login {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: lightskyblue;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
.btn-login1 {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ddd;
    width: 80%;
    margin-top: 10px;
    cursor: pointer;
} 

.lo-par {
    padding: 10px;
    text-align: center;
    color: black;
}
.lo-par-ln {
    color: blue;
    text-decoration: underline;
}
.lo-head {
    margin-left: 55px;
    font-size: 25px;
}
.lo-par-3 {
    margin-left: 55px;
    padding-top: 10px;
    font-size: 14px;
}
.displayFlex {
    display: flex  ;
    margin-top: 10px;
}
.displayflex p {
    margin-left: 10px;
}
.parent5 {
    color: white;
    padding-top: 20px;
}
.signup-bg {
    background-image: url(/img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 20px;
}
.sign-title {
    position: absolute;
    bottom: 50%;
}
.signup-border {
    width: 50%;
    background-color: navy;
    border-radius: 20px;
    margin: auto;
    padding-left: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
}
.signup-border h5 {
    color: black;
}
.sign-title h2 {
    text-align: center;
}

.form-parent {
    background-image: url(/img/BG.png);
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.form-inp {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ddd;
    width: 50%;
    margin-top: 10px;
}
textarea {
    width: 50%;
    padding: 20px;
    background-color: #ddd;
    border: 1px solid transparent;
    margin-top: 10px;
    border-radius: 5px;
}
.preview-btn {
    background-color: blue;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

/* PREVIEW */
.preview-section {
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.preview-section p {
    padding: 10px;
}
.preview-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.submitBtn {
    padding: 8px 12px;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #f44336;
    margin-top: 10px;
}

/* API results */
.result-container {
    gap: 20px;
}
.noTours {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.flight-offer p {
    margin-top: 10px;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
} 
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.modal-header {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background-color: blue;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.modal p  {
    margin: 10px 0;
}
.close-button {
    cursor: pointer;
    font-size: 30px;
    color: white;
}
.details-button {
    color: white;
    background-color: blue;
    border: 1px solid transparent;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
}
.tour-result {
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 20px;
}
.tour-result p {
    margin-top: 10px;
}
.tour-result h1 {
    text-align: center;
    font-size: 25px;
}
.tourinfo {
    border: 1px solid #fff;
    padding: 20px;
}
.tourinfo p {
    margin-top: 10px;
} 




/* TOURISM STYLE */
.tour-parent {
    background-image: url(/img/360_F_573305992_F4MJgvIVzPZbMywNb3zcBNTw8jkjNbKo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    position: relative;
}
.tour-btn {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.form-inputs {
   width: 100%;
}
.tour-package {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    line-height: 25px;
}
.tour-parent1 {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}
.deals {
    text-align: center;
    margin-top: 30px;
}
.package1 {
    padding: 20px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 3px;
    border-radius: 10px;
    margin: 20px;
    width: 60%;
}
.package1 h5 {
    font-size: 15px;
    margin-top: 10px;
}
.package1 h3 {
    text-align: center;
}
.package1 p {
    margin-top: 10px;
}
.package1 button {
    border: 1px solid transparent;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.parent-tourism{
    color: white;
    text-align: center;
    margin-top: 20px;
    background-color: navy;
    padding-bottom: 50px;
    padding: 20px;
}
.tourism-par {
    font-size: 20px;
    margin-top: 20px;
}
.tourism-par1 {
    font-size: 18px;
    margin-top: 20px;
}
.parent-form h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.row1 {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.row1 input {
    width: 90%;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
}
.row1 p {
    margin-top: 20px;
}
.password-i {
    display: flex;
}
.li {
    list-style: disc;
}
.eye-icon {
    cursor: pointer;
}
.signup-btn {
    border: 1px solid transparent;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.toursup-head {
    text-align: center;
    color: blue;
    font-size: 32px;
}
.toursup-par {
    text-align: center;
    color: grey;
    font-size: 16px;
    margin-top: 10px;
}
.sup-btn {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.tour-inp2 {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    margin-top: 10px;
}
.tour-inp3 {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    width: 25%;
    margin-top: 10px;
}
.tour-area {
    background-color: transparent;
    border: 1px solid;
}

.tour-operator p {
    margin-top: 20px;
}
.tour-operator h1 {
    text-align: center;
    font-size: 25px;
}
.tour-operator {
    padding: 20px;
}
.tour-radio {
    margin-top: 20px;
}
.days {
    padding-left: 5px;
}
.tour-file {
    margin-top: 10px;
    font-size: 18px;
}

.tourDetails-inp {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    margin-top: 10px;
}

.tour-image {
    width: 50%;
    height: auto;
    border-radius: 8px;
}
.book-now{
    padding: 10px 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: blue;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    margin-top: 40px;
}
.calculate{
    padding: 10px 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: blue;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    margin-top: 40px;
}
.tour-header {
    text-align: center;
    margin-top: 10px;
}

.prev-btn, .next-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* BOOKING TOUR FORM STYLE */
.booking-form {
    padding: 20px;
}
.booking-form p {
    margin-top: 10px;
}

/* loader overlay */
#loaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {transform: rotate(360deg);}
}

/* DASHBOARD */
.booking-table {
    width: 100vw;
    border-collapse: collapse;
}
.booking-table th, .booking-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}
.editbtn {
    background-color: blue;
    padding: 8px 14px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}

/* Respponsiveness */
@media only screen and (max-width: 768px) {
    .none {
        display: none;
    }
    .row1{
        display: block;
        flex-direction: column-reverse;
    }
    .column {
        flex-direction: column;
    }
    .form {
        margin: 0;
    }
    .download-img1 {
        margin: 10px;
        padding: 10px;
        height: 300px;
    }
    
    .title {
        font-size: 16px;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo1 {
        width: 20%;
    }
    .img {
        margin-top: 10px;
    }
    .sidebar-menu {
        display: block;
        margin-left: 5%;
    }
    .sbm {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links li {
        margin-top: 30px;
        padding-bottom: 10px;
    }
    .hamburger {
        display: flex;
    }
    .linksss {
        display: block;
        margin-left: 20px;
    }
    .linksss2 {
        display: block;
        margin-left: 20px;
        margin-top: 40px;
    }

    /* signup */
    .signupParent {
        flex-direction: column;
    }
    .signup-dreams {
        display: none;
    }
    .signup-bg {
        height:  100%;
    }
    .signup-border {
        width: 90%;
    }

    /* FORM */
    .form-inp {
        width: 80%;
    }
    textarea {
        width: 80%;
    }

    /* tourism */
    .package1 {
        width: 100%;
    }
    /* LOGIN */
    .phone h4 {
        font-size: 12px;
    }
    .email h4 {
        font-size: 14px;
    }
    .socials img {
        width: 10%;
    }
  
    
}
